<div class="page-wrapper">
	<!-- Header -->
	<div id="header-wrapper">
		<div id="header">
			<!-- Logo -->
				<h1><a href="index.html"> <img width="250px" height="125px" src="assets/images/logo.svg" alt="Deco & Victor"/> </a></h1>
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Home</a></li>
						<li><a href="#fotos">Fotos</a></li>
						<li><a href="#contato">Contato</a></li>
						<li><a href="#social">Redes Sociais</a></li>
					</ul>
				</nav>
				<!-- Banner -->
				<div id="banner">
					<header>
						<h2 class="button big icon" >O Melhor do sertanejo, sempre!</h2>
					</header>
				</div>
			<!-- Intro -->
			<section id="intro" class="container">

				<span class="button big icon" id="fotos">Fotos</span>
				<div class="masonry">
					<a href="/assets/images/fotos/decoevictor2.jpg" data-imagelightbox="f" class="noline">
						<img src="/assets/images/fotos/decoevictor2.jpg" alt="Deco e Victor no Nyx Café Bar">
					</a>
				</div>

			</section>
		</div>

	</div>

</div>
