<!-- Header -->
			<div id="header-wrapper">
				<div id="header">
					<!-- Logo -->
						<h1><a href="index.html"> <img width="250px" height="125px" src="assets/images/logo.svg" alt="Deco & Victor"/> </a></h1>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="#fotos">Fotos</a></li>
								<li><a href="#contato">Contato</a></li>
								<li><a href="#social">Social</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">

							<header>
								<span></span>
								<span></span>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
							</header>

						</section>

					<!-- Intro -->
						<section id="intro" class="container">
						<span class="button big" id="fotos">Fotos</span>


							<div class="row">
								<div class="4u">
									<section class="first">

									</section>
								</div>
								<div class="4u">
									<section class="middle">

										<img width="350px" height="233,333px" src="/assets/images/fotos/decoevictor2.jpg">

									</section>
								</div>
								<div class="4u">
									<section class="last">

									</section>
								</div>
							</div>

						</section>

				</div>
			</div>
